@use "setting" as *;
@mixin common{
/*                reset
======================================================= */
@include reset;
/*                leyout
======================================================= */
  .c-width {
    max-width: 940px;
    margin: 0 auto;
  }

/*                見出し
=======================================================*/
.c-section-title{
  font-size: 40px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

// 本文
.c-section-text{
  line-height: 2.6;
}


/*                テキスト装飾
======================================================= */
  .text_right,.alignright{ text-align:right;}
  .text_left,.alignleft{ text-align:left;}
  .text_center,.aligncenter{ text-align:center;}
  .underline{ text-decoration: underline;}
  .lato{
    font-family: $fontLato;
  }
  .mintyo{
    font-family: $fontMintyo;
  }

/*                utility
======================================================= */
@media only screen and (min-width: 768px){
  .u-hover-line{
    &:hover{
      .u-hover-line-child{
        &::before{
          opacity: 1;
          width: 100%;
          left: 0;
        }
      }
    }
  }
  .u-hover-line-child{
    position: relative;
    &::before{
      display: block;
      width: 0;
      height: 1px;
      left: 50%;
      bottom: -0.3em;
      content: "";
      background: $siteColor;
      position: absolute;
      opacity: 0;
      transition: all 0.5s;
    }

}
}

/*                sp_menu
======================================================= */
  html {
    &.is-fixed {
      height: 100vh;
      overflow: hidden;
    }
  }

}//@mixin common