@use "setting" as *;
@mixin common{
/*                reset
======================================================= */
@include reset;
/*                leyout
======================================================= */
  .c-width {
    max-width: 940px;
    margin: 0 auto;
  }

/*                テキスト装飾
======================================================= */
  .text_right,.alignright{ text-align:right;}
  .text_left,.alignleft{ text-align:left;}
  .text_center,.aligncenter{ text-align:center;}
  .underline{ text-decoration: underline;}
  .lato{
    font-family: $fontLato;
  }
  .mintyo{
    font-family: $fontMintyo;
  }

/*                utility
======================================================= */
@media only screen and (min-width: 768px){
  .u-hover-line-child{
    position: relative;
    &::before{
      display: block;
      width: 100%;
      height: 1px;
      left: 0;
      bottom: 0;
      content: "";
      background: $siteColor;
      position: absolute;
    }

}
}

/*                sp_menu
======================================================= */
  html {
    &.is-fixed {
      height: 100vh;
      overflow: hidden;
    }
  }

}//@mixin common