@charset "UTF-8";
/*                共通
======================================================= */
.l-wrapper {
  overflow: hidden;
  padding-top: 80px;
}
@media only screen and (max-width: 767px) {
  .l-wrapper {
    padding-top: 60px;
  }
}

.l-hd {
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
  left: 0;
}

.p-hd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 46px;
  width: 100%;
  height: 80px;
  background: #fff;
  z-index: 1;
  position: relative;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5019607843);
}
@media only screen and (max-width: 767px) {
  .p-hd {
    paading: left 30px;
    height: 60px;
  }
}

.p-hd__nav {
  height: 100%;
}
@media only screen and (max-width: 767px) {
  .p-hd__nav {
    display: none;
  }
}

.p-hd__list {
  display: flex;
  height: 100%;
}

.p-hd__item {
  height: 100%;
}

.p-hd__link {
  padding: 0 1.5em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #122444;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.p-hd__link--reserve-link {
  padding: 2em;
  min-width: 150px;
  background: #122444;
  color: #fff;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .p-hd__link--reserve-link {
    transition: all 0.5s;
  }
  .p-hd__link--reserve-link:hover {
    background: #fc4e01;
  }
}
@media only screen and (max-width: 1023px) {
  .p-hd__link {
    padding: 0.1em;
    min-width: 120px;
  }
}

.p-hd__nav {
  position: relative;
  height: 100%;
}
@media only screen and (max-width: 767px) {
  .p-hd__nav {
    display: none;
  }
}

.p-hd__list {
  display: flex;
  height: 100%;
}

@media only screen and (min-width: 1023px) {
  .l-sp-menu-btn {
    display: none;
  }
}

.p-sp-menu-btn {
  position: fixed;
  width: 20px;
  height: 16px;
  right: 30px;
  top: 22px;
  z-index: 100;
}

.p-sp-menu-btn__border {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: #122444;
}
.p-sp-menu-btn__border--01 {
  top: 0;
}
.p-sp-menu-btn__border--02 {
  top: 8px;
}
.p-sp-menu-btn__border--03 {
  top: 16px;
}

.is-active .p-sp-menu-btn__border--02 {
  opacity: 0;
}
.is-active .p-sp-menu-btn__border--01 {
  transform: translateY(10px) rotate(45deg);
}
.is-active .p-sp-menu-btn__border--03 {
  transform: translateY(-6px) rotate(-45deg);
}

html.is-fixed {
  height: 100vh;
  overflow: hidden;
}

.l-sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  pointer-events: none;
}
@media only screen and (min-width: 768px) {
  .l-sp-menu {
    display: none;
  }
}

.p-sp-menu {
  height: 100%;
  background: #fff;
  overflow-y: auto;
}

.p-sp-menu__list {
  width: 100%;
  height: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p-sp-menu__item--reserve {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.p-sp-menu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-weight: bold;
  color: #122444;
  font: size 18px;
}
.p-sp-menu__link--reserve-btn {
  background-color: #122444;
  color: #fff;
  height: 93px;
}

/*                p-home-kv
======================================================= */
.l-home-firstview {
  width: 100vw;
  position: relative;
  height: calc(100vh - 80px);
}

.p-home-kv__bgimg {
  width: 100%;
  height: 100%;
}
.p-home-kv__bgimg .-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-home-kv__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 37.5%;
  transform: translate(-50%, -50%);
}/*# sourceMappingURL=home_first_view.css.map */