@charset "utf-8";
@use "setting" as *;
@use "common" as *;

/*                共通
======================================================= */
@include common;

/*                トップページ用
======================================================= */
/*                content
======================================================= */
.l-main {
  padding: 0 0 220px;
  @media only screen and (max-width: 767px) {
    padding: 0 0 96px;
  }
}
.l-section{
  padding-top: 180px;
}

.p-section{
  padding: 0 50px;
      // .p-section--gallery
      &--gallery{
      margin-top: 165px;
      }
    }
  // .p-section--sns
    &--sns{
    margin-top: 65px;
}

.p-message-text{
  margin-top: 38px;
  font-size: 15px;
  font-style: YuGothic-Medium;
}

.p-owner-introduction{
  margin: top 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 40px;
}

.p-owner-introduction__text{
margin-top: 52px;
}

.p-owner-introduction__img{
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}

.p-sns-icons{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:0 30px;
  width: 150px;
}