@charset "UTF-8";
/*                共通
======================================================= */
/*                reset
======================================================= */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.3; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

body {
  -webkit-text-size-adjust: 100%; /* 勝手に文字が拡大されるのを防ぐ */
  /* 以下、案件ごとに適宜変更 */
  color: #fff;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  background-color: #122444;
  font-size: 15px;
  letter-spacing: 0.1em;
}

body,
h1,
h2,
h3,
h4,
h5,
table,
th,
td,
ul,
li,
ol,
dl,
dt,
dd,
form,
p {
  margin: 0px;
  padding: 0px;
  font-weight: 500;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  list-style-type: none;
  line-height: 1.3;
}

input,
textArea,
select,
button {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none; /* iOS系のスタイルを外す */
}

button {
  cursor: pointer;
}

figure {
  margin: 0px;
}

img,
iframe {
  width: 100%;
  height: auto;
  vertical-align: top; /* 意図しない余白の削除 */
}

table {
  border-collapse: collapse;
}

a {
  text-decoration: none;
  /* 以下、案件ごとに適宜変更 */
  letter-spacing: 0.1em;
  color: #fff;
  cursor: pointer;
}

/*                leyout
======================================================= */
.c-width {
  max-width: 940px;
  margin: 0 auto;
}

/*                見出し
=======================================================*/
.c-section-title {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

/*                本文テキスト
=======================================================*/
.c-section-text {
  line-height: 2.6;
}

.c-grid-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px 40px;
}

.c-grid-images__item--grid-large {
  grid-column: span 2;
}

.c-info-table {
  margin-top: 30px;
}

.c-info-table__dl {
  display: flex;
  border-top: 1px solid #415069;
}
.c-info-table__dl:last-child {
  border-bottom: 1px solid #415069;
}

.c-info-table__dt {
  width: 120px;
}

.c-info-table__dd {
  width: calc(100% - 120px);
}

.c-info-table__dt, .c-info-table__dd {
  padding: 20px 0 18px;
  line-height: 2;
}

/*                テキスト装飾
======================================================= */
.text_right, .alignright {
  text-align: right;
}

.text_left, .alignleft {
  text-align: left;
}

.text_center, .aligncenter {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.lato {
  font-family: "Lato", "arial", sans-serif;
}

.mintyo {
  font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
}

/*                utility
======================================================= */
@media only screen and (min-width: 768px) {
  .u-hover-line:hover .u-hover-line-child::before {
    opacity: 1;
    width: 100%;
    left: 0;
  }
  .u-hover-line-child {
    position: relative;
  }
  .u-hover-line-child::before {
    display: block;
    width: 0;
    height: 1px;
    left: 50%;
    bottom: -0.3em;
    content: "";
    background: #122444;
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
  }
}
/*                sp_menu
======================================================= */
html.is-fixed {
  height: 100vh;
  overflow: hidden;
}

/*                トップページ用
======================================================= */
/*                content
======================================================= */
.l-main {
  padding: 0 0 220px;
}
@media only screen and (max-width: 767px) {
  .l-main {
    padding: 0 0 96px;
  }
}

.l-section {
  padding-top: 180px;
}

.p-section {
  padding: 0 50px;
}

.p-message-text {
  margin-top: 38px;
  font-size: 15px;
  font-style: YuGothic-Medium;
}

.p-owner-introduction {
  margin: top 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 40px;
}

.p-owner-introduction__text {
  margin-top: 52px;
}

.p-owner-introduction__img {
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}/*# sourceMappingURL=home.css.map */